# 변수 설명

game_id : 경기 구분 기호

winner : 승리 선수 --> 한 게임에서 0과 1이라는 플레이어가 있는데 둘 중 누가 이긴지를 의미함

time : 경기 시간

player : 선수

##1) 0: 첫 번째 선수

##2) 1: 두 번째 선수

species : 종족

##1) T: 테란

##2) P: 프로토스

##3) Z: 저그

event : 행동 종류

event_contents : 행동 상세

##1) Ability : 생산, 공격 등 선수의 주요 행동

##2) AddToControlGroup : 부대에 추가

##3) Camera : 시점 선택

##4) ControlGroup : 부대 행동

##5) GetControlGroup : 부대 불러오기

##6) Right Click : 마우스 우클릭

##7) Selection : 객체 선택

##8) SetControlGroup : 부대 지정

In [8]:
# 패키지 불러오기

import pandas as pd                         # 데이터 분석 라이브러리
import numpy as np                          # 계산 라이브러리
from tqdm import tqdm                       # 진행바
from sklearn.metrics import roc_auc_score   # AUC 스코어 계산
from sklearn.model_selection import KFold   # K-fold CV    
from bayes_opt import BayesianOptimization  # 베이지안 최적화 라이브러리  
from functools import partial               # 함수 변수 고정
import lightgbm as lgb                      # LightGBM 라이브러리
import warnings                             
warnings.filterwarnings("ignore")           # 경고 문구 미표시

# 패키지 불러오기

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use('seaborn')
sns.set(font_scale=2.5)

import missingno as msno # 결측값

import warnings # 경고무시
warnings.filterwarnings('ignore')

%matplotlib inline

In [2]:
pd.options.display.float_format = '{:.2f}'.format # 소수점 둘째자리까지 표현

In [6]:
train = pd.read_pickle('train_1.7m.pickle')

In [32]:
df

,game_id,winner,time,player,species,event,event_contents
0,0,1,0.00,0,T,Camera,"at (145.25, 21.5078125)"
1,0,1,0.00,1,T,Camera,"at (22.75, 147.0078125)"
2,0,1,0.02,0,T,Selection,['OrbitalCommand [3080001]']
3,0,1,0.02,0,T,Ability,(1360) - TrainSCV
4,0,1,0.14,0,T,Camera,"at (142.99609375, 24.50390625)"
...,...,...,...,...,...,...,...
1709943,1000,0,8.12,0,Z,Selection,"['Egg [4200003]', 'Egg [4EC0002]']"
1709944,1000,0,8.12,0,Z,Ability,(1820) - MorphDrone
1709945,1000,0,8.12,0,Z,Selection,['Egg [4200003]']
1709946,1000,0,8.13,0,Z,Selection,['Hatchery [3FC0004]']
1709947,1000,0,8.13,0,Z,Camera,"at (114.578125, 34.67578125)"

In [9]:
def species_converter(string):
    if string == 'T':
        return 0
    elif string == 'P':
        return 1
    elif string == 'Z':
        return 2
    else:
        raise ValueError

def data_preparation(df, answer=False):
    game_ids = df['game_id'].unique()
    events = ['Ability', 'AddToControlGroup', 'Camera', 'ControlGroup', 'GetControlGroup', 'Right Click', 'Selection', 'SetControlGroup']
    unique_event_0, unique_event_1, delta_event = {}, {}, {}
    for event in events:
        unique_event_0['P0_' + event] = 0
        unique_event_1['P1_' + event] = 0
        delta_event['delta_' + event] = 0
        
    species = df.groupby(['game_id', 'player']).species.unique()
    event_count = df.groupby(['game_id', 'player']).event.value_counts()
    if answer:
        winners = df.groupby(['game_id']).winner.max()
    
    x_data, y_data = [], []
    for game_id in tqdm(game_ids):
        df_event_count = event_count[game_id].unstack(level=-1)
        df = pd.DataFrame(species[game_id])
        df = pd.concat([df, df_event_count], axis=1)   
        df = df.fillna(0)
        
        df_P0_species = pd.DataFrame([species_converter(df.loc[0]['species'][0])], columns=['P0_species'])        
        df_P1_species = pd.DataFrame([species_converter(df.loc[1]['species'][0])], columns=['P1_species'])
        df = df.drop(['species'], axis=1)

        df_P0_event = unique_event_0.copy()
        for column in df.columns:
            df_P0_event['P0_' + column] = df.loc[0][column]
        df_P0_event = pd.DataFrame(pd.Series(df_P0_event)).T

        df_P1_event = unique_event_1.copy()
        for column in df.columns:
            df_P1_event['P1_' + column] = df.loc[1][column]
        df_P1_event = pd.DataFrame(pd.Series(df_P1_event)).T
        
        df_delta_event = delta_event.copy()
        for column in df.columns:
            df_delta_event['delta_' + column] = df_P0_event['P0_' + column][0] - df_P1_event['P1_' + column][0]
        df_delta_event = pd.DataFrame(pd.Series(df_delta_event)).T

        out = pd.concat([df_P0_species, df_P0_event, df_P1_species, df_P1_event, df_delta_event], axis=1)
        out.index = [game_id]
        out.index.name = 'game_id'
        
        x_data.append(out)
        if answer:
            y_data.append(winners[game_id])  

    x_data = pd.concat(x_data)
    y_data = np.array(y_data)
    
    return x_data, y_data

In [10]:
x_train, y_train = data_preparation(train, answer=True)
x_train.head()

100%|██████████████████████████████████████████████████████████████████████████████| 1001/1001 [00:11<00:00, 87.42it/s]

,P0_species,P0_Ability,P0_AddToControlGroup,P0_Camera,P0_ControlGroup,P0_GetControlGroup,P0_Right Click,P0_Selection,P0_SetControlGroup,P1_species,...,P1_Selection,P1_SetControlGroup,delta_Ability,delta_AddToControlGroup,delta_Camera,delta_ControlGroup,delta_GetControlGroup,delta_Right Click,delta_Selection,delta_SetControlGroup
game_id,,,,,,,,,,,,,,,,,,,,,
0,0,34.00,2.00,444.00,0.00,24.00,35.00,50.00,3.00,0,...,57.00,1.00,0.00,2.00,19.00,0.00,21.00,7.00,-7.00,2.00
1,1,77.00,1.00,627.00,0.00,162.00,160.00,186.00,10.00,0,...,116.00,8.00,10.00,1.00,-231.00,0.00,131.00,29.00,70.00,2.00
2,1,69.00,6.00,413.00,0.00,99.00,160.00,90.00,14.00,2,...,232.00,9.00,-16.00,1.00,-312.00,-2.00,-10.00,-44.00,-142.00,5.00
3,0,82.00,0.00,713.00,0.00,132.00,276.00,180.00,6.00,1,...,148.00,19.00,-7.00,0.00,325.00,0.00,-578.00,8.00,32.00,-13.00
4,0,57.00,1.00,430.00,0.00,224.00,177.00,67.00,10.00,2,...,126.00,8.00,21.00,-3.00,158.00,0.00,125.00,71.00,-59.00,2.00

In [11]:
def lgb_cv(num_leaves, learning_rate, n_estimators, subsample, colsample_bytree, reg_alpha, reg_lambda, x_data=None, y_data=None, n_splits=5, output='score'):
    score = 0
    kf = KFold(n_splits=n_splits)
    models = []
    for train_index, valid_index in kf.split(x_data):
        x_train, y_train = x_data.iloc[train_index], y_data[train_index]
        x_valid, y_valid = x_data.iloc[valid_index], y_data[valid_index]
        
        model = lgb.LGBMClassifier(
            num_leaves = int(num_leaves), 
            learning_rate = learning_rate, 
            n_estimators = int(n_estimators), 
            subsample = np.clip(subsample, 0, 1), 
            colsample_bytree = np.clip(colsample_bytree, 0, 1), 
            reg_alpha = reg_alpha, 
            reg_lambda = reg_lambda,
        )
        
        model.fit(x_train, y_train)
        models.append(model)
        
        pred = model.predict_proba(x_valid)[:, 1]
        true = y_valid
        score += roc_auc_score(true, pred)/n_splits
    
    if output == 'score':
        return score
    if output == 'model':
        return models

In [12]:
# 모델과 관련없는 변수 고정
func_fixed = partial(lgb_cv, x_data=x_train, y_data=y_train, n_splits=5, output='score') 
# 베이지안 최적화 범위 설정
lgbBO = BayesianOptimization(
    func_fixed, 
    {
        'num_leaves': (16, 1024),        # num_leaves,       범위(16~1024)
        'learning_rate': (0.0001, 0.1),  # learning_rate,    범위(0.0001~0.1)
        'n_estimators': (16, 1024),      # n_estimators,     범위(16~1024)
        'subsample': (0, 1),             # subsample,        범위(0~1)
        'colsample_bytree': (0, 1),      # colsample_bytree, 범위(0~1)
        'reg_alpha': (0, 10),            # reg_alpha,        범위(0~10)
        'reg_lambda': (0, 50),           # reg_lambda,       범위(0~50)
    }, 
    random_state=4321                    # 시드 고정
)
lgbBO.maximize(init_points=5, n_iter=30) # 처음 5회 랜덤 값으로 score 계산 후 30회 최적화

# 이 예제에서는 7개 하이퍼 파라미터에 대해 30회 조정을 시도했습니다.
# 다양한 하이퍼 파라미터, 더 많은 iteration을 시도하여 최상의 모델을 얻어보세요!
# LightGBM Classifier: https://lightgbm.readthedocs.io/en/latest/pythonapi/lightgbm.LGBMClassifier.html

|   iter    |  target   | colsam... | learni... | n_esti... | num_le... | reg_alpha | reg_la... | subsample |
-------------------------------------------------------------------------------------------------------------
|  1        |  0.567    |  0.0708   |  0.08152  |  790.0    |  304.6    |  1.931    |  48.95    |  0.4062   |
|  2        |  0.5661   |  0.7578   |  0.009006 |  328.4    |  639.9    |  4.599    |  10.92    |  0.6635   |
|  3        |  0.5497   |  0.6787   |  0.09504  |  299.5    |  640.8    |  3.833    |  20.02    |  0.9427   |
|  4        |  0.5595   |  0.9299   |  0.09484  |  394.5    |  361.0    |  6.648    |  2.116    |  0.2322   |
|  5        |  0.5644   |  0.4301   |  0.007886 |  788.7    |  876.7    |  1.504    |  5.057    |  0.2709   |
|  6        |  0.5701   |  0.3634   |  0.01062  |  1.023e+0 |  44.64    |  7.323    |  0.824    |  0.7852   |
|  7        |  0.5613   |  0.9608   |  0.02043  |  27.04    |  1.023e+0 |  3.621    |  6.104    |  0.5903   |
|  8        |  0.5837   |  0.5643   |  0.001705 |  487.9    |  1.024e+0 |  5.489    |  4.726    |  0.6895   |
|  9        |  0.5685   |  0.1507   |  0.02209  |  1.022e+0 |  426.3    |  6.593    |  2.049    |  0.4926   |
|  10       |  0.5788   |  0.63     |  0.013    |  666.4    |  562.8    |  9.259    |  3.226    |  0.8954   |
|  11       |  0.5759   |  0.155    |  0.03832  |  35.46    |  23.52    |  0.914    |  3.905    |  0.7978   |
|  12       |  0.5621   |  0.4242   |  0.07208  |  673.0    |  561.8    |  5.575    |  2.113    |  0.4537   |
|  13       |  0.5622   |  0.471    |  0.0357   |  1.01e+03 |  1.022e+0 |  4.163    |  48.49    |  0.6042   |
|  14       |  0.5709   |  0.7875   |  0.09069  |  544.6    |  647.5    |  7.761    |  14.73    |  0.3832   |
|  15       |  0.5772   |  0.5286   |  0.04971  |  574.0    |  23.51    |  9.915    |  2.615    |  0.3447   |
|  16       |  0.5789   |  0.6532   |  0.009039 |  35.89    |  578.5    |  2.369    |  13.64    |  0.995    |
|  17       |  0.5784   |  0.7575   |  0.07025  |  23.46    |  263.6    |  6.129    |  4.063    |  0.5412   |
|  18       |  0.5494   |  0.8799   |  0.06122  |  258.0    |  747.5    |  0.3397   |  1.183    |  0.8294   |
|  19       |  0.576    |  0.3783   |  0.02706  |  818.2    |  18.12    |  8.137    |  49.69    |  0.8297   |
|  20       |  0.5874   |  0.07263  |  0.01251  |  747.3    |  1.016e+0 |  9.224    |  5.704    |  0.7567   |
|  21       |  0.5731   |  0.9447   |  0.08198  |  766.9    |  164.7    |  9.951    |  1.958    |  0.3167   |
|  22       |  0.5636   |  0.563    |  0.08436  |  867.2    |  286.9    |  6.595    |  4.585    |  0.1545   |
|  23       |  0.5808   |  0.7381   |  0.08874  |  1.014e+0 |  777.7    |  9.46     |  46.85    |  0.4116   |
|  24       |  0.5782   |  0.7432   |  0.00678  |  265.0    |  32.54    |  9.733    |  39.61    |  0.6405   |
|  25       |  0.5735   |  0.8817   |  0.04177  |  1.009e+0 |  998.7    |  9.734    |  3.414    |  0.8442   |
|  26       |  0.574    |  0.8394   |  0.007682 |  463.9    |  77.15    |  3.369    |  41.37    |  0.8781   |
|  27       |  0.5846   |  0.2257   |  0.02664  |  691.7    |  892.4    |  9.376    |  3.048    |  0.7435   |
|  28       |  0.5634   |  0.9546   |  0.06944  |  1.023e+0 |  166.9    |  7.957    |  46.1     |  0.4092   |
|  29       |  0.584    |  0.2941   |  0.007261 |  979.7    |  935.1    |  8.299    |  48.08    |  0.9962   |
|  30       |  0.5786   |  0.9532   |  0.06773  |  24.78    |  742.7    |  8.928    |  1.303    |  0.1845   |
|  31       |  0.5719   |  0.3308   |  0.02981  |  538.1    |  746.5    |  5.041    |  30.69    |  0.6923   |
|  32       |  0.5857   |  0.3701   |  0.0729   |  31.8     |  80.74    |  9.638    |  47.38    |  0.8708   |
|  33       |  0.5862   |  0.6092   |  0.003917 |  901.6    |  614.8    |  9.595    |  47.72    |  0.605    |
|  34       |  0.5582   |  0.1413   |  0.03067  |  994.4    |  593.5    |  4.479    |  16.15    |  0.3286   |
|  35       |  0.5761   |  0.5542   |  0.06534  |  258.1    |  1.01e+03 |  9.149    |  5.985    |  0.6611   |
=============================================================================================================

In [13]:
params = lgbBO.max['params']
models = lgb_cv(
    params['num_leaves'], 
    params['learning_rate'], 
    params['n_estimators'], 
    params['subsample'], 
    params['colsample_bytree'], 
    params['reg_alpha'], 
    params['reg_lambda'], 
    x_data=x_train, y_data=y_train, n_splits=5, output='model')

In [14]:
test = pd.read_csv('data/test.csv')
x_test, _ = data_preparation(test, answer=False)

100%|████████████████████████████████████████████████████████████████████████████| 16787/16787 [03:11<00:00, 87.63it/s]

In [15]:
preds = []
for model in models:
    pred = model.predict_proba(x_test)[:, 1]
    preds.append(pred)
pred = np.mean(preds, axis=0)

submission = pd.read_csv('data/sample_submission.csv', index_col=0)
submission['winner'] = submission['winner'] + pred
submission.to_csv('submission.csv')
submission.head()

         winner
game_id
38872      0.53
38873      0.52
38874      0.50
38875      0.36
38876      0.51

## APM
1분에 몇번을 움직였는지?

In [66]:
# 1번방의 플레이어0의 APM
len(df[(df['game_id']==1) & (df['player'] == 0) & (df['event'] != 'Camera')]) / (df.loc[df['game_id'] == 1, 'time'].max())

62.148070907195

In [67]:
# 1번방의 플레이어1의 APM
len(df[(df['game_id']==1) & (df['player'] == 1) & (df['event'] != 'Camera')]) / (df.loc[df['game_id'] == 1, 'time'].max())

36.80917622523462

In [57]:
df[(df['game_id']==1) & (df['player'] == 1) & (df['event'] != 'Camera')]

,game_id,winner,time,player,species,event,event_contents
1142,1,1,0.00,1,T,Selection,['OrbitalCommand [3340001]']
1144,1,1,0.01,1,T,Ability,(1360) - TrainSCV
1145,1,1,0.01,1,T,SetControlGroup,NaN
1162,1,1,0.04,1,T,Right Click,"Location: (50.0693359375, 26.252685546875, 49118)"
1193,1,1,0.15,1,T,Ability,(1360) - TrainSCV
...,...,...,...,...,...,...,...
3551,1,1,9.52,1,T,Right Click,"Location: (58.572265625, 22.791748046875, 40913)"
3553,1,1,9.53,1,T,Ability,(13E0) - TrainMarine
3562,1,1,9.55,1,T,Right Click,"Location: (61.143310546875, 25.4287109375, 40913)"
3571,1,1,9.59,1,T,Selection,['Marine [4300001]']
3573,1,1,9.59,1,T,Selection,"['Marine [5500001]', 'Marine [5540001]']"

# 일꾼 생산

In [5]:
# 플레이어별 카메라 움직임 스캐터로 표현

def plot_camera(df, game_id):
    df = df.loc[df['game_id']==game_id] # 입력한 게임 방
    df = df.loc[df['event']=='Camera'] # 그 방에서 카메라 부분만
    df_0 = df.loc[df['player']==0] # 그 방에서 플레이어 0
    df_1 = df.loc[df['player']==1] # 그 방에서 플레이어 1

    winner = df['winner'].iloc[0] # 그 방에서 위너에서 가장 위에 뜨는 플레이어(승리자)
    game_time = df['time'].values[-1] # 시간에서 가장 마지막 시간(총 게임 시간)
    player_0_species = df_0['species'].iloc[0] # 해당 게임 0플레이어 종족
    player_1_species = df_1['species'].iloc[0] # 해당 게임 1플레이어 종족 

    player_0_camera = np.array([item.replace('at (', '').replace(')', '').split(',') for item in df_0['event_contents']]).astype(float)
    player_1_camera = np.array([item.replace('at (', '').replace(')', '').split(',') for item in df_1['event_contents']]).astype(float)
    
    plt.scatter(player_0_camera[:, 0], player_0_camera[:, 1], label='player_0', alpha=0.3, color='b', s=50)
    plt.scatter(player_1_camera[:, 0], player_1_camera[:, 1], label='player_1', alpha=0.3, color='r', s=50)
    plt.legend()
    plt.show()
    
    print('Total game time: %s'%(game_time))
    print('Winner: Player_%i'%(winner))
    print('Player_0: %s'%(player_0_species))
    print('Player_1: %s'%(player_1_species))

## 승리자와 가까운 카메라 위치

In [6]:
df[(df['game_id'] == 1) & (df['event'] == 'Camera')].head(2)

      game_id  winner  time  player species   event           event_contents
1140        1       1  0.00       1       T  Camera    at (28.0, 18.5078125)
1141        1       1  0.00       0       P  Camera  at (140.0, 162.0078125)

In [7]:
df[(df['game_id'] == 1) & (df['event'] == 'Camera')].tail(10)

,game_id,winner,time,player,species,event,event_contents
3558,1,1,9.54,0,P,Camera,"at (130.4140625, 150.96484375)"
3559,1,1,9.54,0,P,Camera,"at (134.65625, 155.2109375)"
3564,1,1,9.57,1,T,Camera,"at (41.375, 49.88671875)"
3565,1,1,9.57,1,T,Camera,"at (39.42578125, 49.88671875)"
3566,1,1,9.58,1,T,Camera,"at (36.01953125, 49.88671875)"
3567,1,1,9.58,0,P,Camera,"at (135.45703125, 157.3046875)"
3568,1,1,9.58,0,P,Camera,"at (131.2109375, 155.2578125)"
3569,1,1,9.59,0,P,Camera,"at (129.1640625, 153.2109375)"
3570,1,1,9.59,0,P,Camera,"at (127.1171875, 151.1640625)"
3572,1,1,9.59,0,P,Camera,"at (123.72265625, 148.46875)"

# 카메라 시점

In [8]:
# 패턴으로 x축 y축만 리스트로 추출
import re

def get_vector(tokken):
    pattern = '\d*[.]\d*'
    pat = re.compile(pattern)
    result = pat.findall(str(tokken))
    result = [float(i) for i in result]
    return np.array(result, dtype=np.float32)

In [9]:
df_camera['event_contents'] = df_camera['event_contents'].apply(get_vector)
df[df['event'] == 'Camera'] = df_camera

NameError: name 'df_camera' is not defined

In [ ]:
abs(df_one.iloc[-1, 6] - df_one.iloc[0, 6])

In [ ]:
# 플레이어별 카메라 움직임 스캐터로 표현

def plot_camera(df, game_id):
    df = df.loc[(df['game_id']==game_id) & (df['event']=='Camera')] # 입력한 게임 방
    df_0 = df.loc[df['player']==0] # 그 방에서 플레이어 0
    df_1 = df.loc[df['player']==1] # 그 방에서 플레이어 1

    winner = df['winner'].iloc[0] # 그 방에서 위너에서 가장 위에 뜨는 플레이어(승리자)
    game_time = df['time'].values[-1] # 시간에서 가장 마지막 시간(총 게임 시간)
    player_0_species = df_0['species'].iloc[0] # 해당 게임 0플레이어 종족
    player_1_species = df_1['species'].iloc[0] # 해당 게임 1플레이어 종족 

    player_0_camera = np.array([item.replace('at (', '').replace(')', '').split(',') for item in df_0['event_contents']]).astype(float)
    player_1_camera = np.array([item.replace('at (', '').replace(')', '').split(',') for item in df_1['event_contents']]).astype(float)
    
    plt.scatter(player_0_camera[:, 0], player_0_camera[:, 1], label='player_0', alpha=0.3, color='b', s=50)
    plt.scatter(player_1_camera[:, 0], player_1_camera[:, 1], label='player_1', alpha=0.3, color='r', s=50)
    plt.legend()
    plt.show()
    
    print('Total game time: %s'%(game_time))
    print('Winner: Player_%i'%(winner))
    print('Player_0: %s'%(player_0_species))
    print('Player_1: %s'%(player_1_species))

In [ ]:
df_0 = df.loc[(df['game_id']==2) & (df['event'] == 'Camera') & (df['player']==0)]
df_0

In [ ]:
df_1 = df.loc[(df['game_id']==2) & (df['event'] == 'Camera') & (df['player']==1)]
df_1

In [ ]:
df_0.iloc[0, 6] - df_0.iloc[-1,6]

In [ ]:
df_1.iloc[0, 6] - df_1.iloc[-1,6]